.taskForm {
    text-align: center;
}

form {
    display: inline-block;
}

form input {
  display: block;
  margin: 10px 0 0;
  height: 40px;
  width: 300px;
}

button {
    margin-top: 10px;
  background: #33B864;
  border: 1px solid #33B864;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: #33B864;
}

button:active {
  opacity: .5;
}

.completedCheckbox {
    height: 20px;
    width: 20px;
}

.data {
    margin: auto;
  width: 15%;
  padding: 10px;
}